<nav th:fragment="menu_nav" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <script>
     $(document).ready(function(){
        $('.sidenav').sidenav();
     });
</script>
    <div class="nav-wrapper  LightSeaGreen lighten-3">
        <a class="right" style="margin-right:10px;" th:href="@{/logout}">Logout</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/allstudents}">Students</a></li>
            <li><a th:href="@{/allprofessors}">Professors</a></li>
            <li><a th:href="@{/allschoolgroups}">School groups</a></li>
            <li><a th:href="@{/schedule}">Schedule</a></li>
            <li><a th:href="@{/upload}">Upload form</a></li>
<!--            <sec:authorize ifAllGranted="ROLE_ADMIN">-->


            <li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" ><a th:href="@{/admin}">Admin</a></li>

        </ul>
    </div>
    <ul  xmlns:th="http://www.thymeleaf.org" class="sidenav" id="mobile-demo">
        <li><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/allstudents}">Students</a></li>
        <li><a th:href="@{/allprofessors}">Professors</a></li>
        <li><a th:href="@{/allschoolgroups}">School groups</a></li>
        <li><a th:href="@{/schedule}">Schedule</a></li>
        <li><a th:href="@{/upload}">Upload form</a></li>
<!--        <sec:authorize ifAllGranted="ROLE_ADMIN">-->


            <li th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" ><a th:href="@{/admin}">Admin</a></li>

    </ul>
</nav>

